apiVersion: v1
kind: Pod
metadata:
  labels:
    app: openvpn-client-pod
  name: openvpn-client-pod
spec:
  restartPolicy: OnFailure
  hostNetwork: false
  containers:
  - name: srv01
    image: localhost/extra2000/openvpn-client
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      capabilities:
        add:
        - CAP_NET_ADMIN
        - CAP_NET_RAW
        - CAP_MKNOD
        drop:
        - CAP_AUDIT_WRITE
      seLinuxOptions:
        type: openvpn_client_podman.process
    resources:
      requests:
        memory: 100Mi
        cpu: 1000m
      limits:
        memory: 100Mi
        cpu: 1000m
    volumeMounts:
    - mountPath: /etc/openvpn/client/client.conf
      name: config-file
      readOnly: true
  volumes:
  - name: config-file
    hostPath:
      path: ./configs/client.ovpn
