(block openvpn_client_podman
    (blockinherit container)
    (allow process process ( capability ( chown dac_override fowner fsetid kill mknod net_admin net_bind_service net_raw setfcap setgid setpcap setuid sys_chroot )))
    (allow process kernel_t ( system ( module_request )))
    (allow process self ( netlink_route_socket ( nlmsg_write )))
    (allow process tun_tap_device_t ( chr_file ( getattr ioctl open read write )))
)
